{%extends 'base.html'%}

{%block main_block%}
<div class="container">
    <h1>Expense Summary</h1>
    <div>Total Number of Expenses:{{total_expenses}}</div>
    <div>Total Amount:{{total_amount.amount_sum}}</div>
    <h3>Category Summary</h3>
    {%for category in category_count%}

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              {{category.category}}
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{category.category_count}}</div>
          </div>
        </div>
        
      
      </div>
      {%endfor%}
    <h3>Total Amount of Each Category</h3>
    <table class="table border">
    {%for cat_amount in category_amount_sum%}
    <tr>
    <th>{{cat_amount.category}}</th>
    <td>{{cat_amount.cat_sum}}</td>
</tr>
    {%endfor%}
</div>
</table>
{%endblock%}